html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.chakra-button, .chakra-button:hover, .chakra-input, .chakra-input:hover, .chakra-checkbox__control, .chakra-checkbox__control:hover {
  outline: none !important;
}

*:focus, *:active {
  outline: none !important;
  box-shadow: none !important;
}